@model CurrentListView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | User Profile</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    
    <link href="~/FontAwesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->

        <section class="content-header">

            <div class="container-fluid">

                <div class="row mb-2">

                    <div class="col-sm-6">

                        <h1>My Profile</h1>

                    </div>



                </div>

            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->

        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-3">

                        <!-- Profile Image -->

                        <div class="card card-primary card-outline">

                            <div class="card-body box-profile">

                                <div class="text-center">

                                    <img class="profile-user-img img-fluid img-circle"
                                         src="~/AdminLTE-3.0.4/dist/img/user4-128x128.jpg"
                                         alt="User profile picture">

                                </div>

                                <h3 class="profile-username text-center">@Model.Name  @Model.Surname</h3>

                                <p class="text-muted text-center">Software Engineer</p>

                                <ul class="list-group list-group-unbordered mb-3">

                                    <li class="list-group-item">

                                        <b>Purchased</b> <a class="float-right">@ViewBag.Purchased</a>

                                    </li>

                                    <li class="list-group-item">

                                        <b>Total Spend</b> <a class="float-right">@ViewBag.spend</a>

                                    </li>



                                </ul>



                            </div>

                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->
                        <!-- About Me Box -->

                        <div class="card card-primary">

                            <div class="card-header">

                                <h3 class="card-title">About Me</h3>

                            </div>

                            <!-- /.card-header -->

                            <div class="card-body">





                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                                <p class="text-muted">@Model.City</p>

                                <hr>





                                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                                <p class="text-muted">@Model.Email</p>

                            </div>

                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->

                    </div>

                    <!-- /.col -->

                    <div class="col-md-9">

                        <div class="card">

                            <div class="card-header p-2">

                                <ul class="nav nav-pills">

                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Announcement</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>

                                </ul>

                            </div><!-- /.card-header -->

                            <div class="card-body">

                                <div class="tab-content">

                                    <div class="active tab-pane" id="activity">

                                        <!-- Post -->

                                        @await Component.InvokeAsync("MessagePartial")



                                    </div>

                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="timeline">

                                        @await Component.InvokeAsync("Announce")



                                    </div>

                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">


                                        @*@Html.Action("Update", "CurrentPanel")*@
                                        @await Component.InvokeAsync("Update")

                                    </div>



                                </div>

                                <!-- /.tab-content -->

                            </div><!-- /.card-body -->

                        </div>

                        <!-- /.nav-tabs-custom -->

                    </div>

                    <!-- /.col -->

                </div>

                <!-- /.row -->

            </div><!-- /.container-fluid -->

        </section>

        <!-- /.content -->

    </div>

    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->

    <aside class="control-sidebar control-sidebar-dark">

        <!-- Control sidebar content goes here -->

    </aside>

    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->

    @section JavaScript{


        <script src="~/Jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->


        <script src="~/js/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->

        <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

        <!-- AdminLTE for demo purposes -->

        <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>


    }


</body>

</html>


